{% extends 'base.html' %} {% block body %}
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Job Name</th>
							<th>Product</th>
						</tr>
					</thead>
					<tbody>
						{% if buildjobs%} {% for jobs in buildjobs %}
						<tr>
							<td>{{ jobs.build_id }}</td>
							<td>{{ jobs.job }}</td>
							<td>{{ jobs.product_name }}</td>
							<td><button type="button" class="btn btn-warning" onclick="open_win('{{jobs.job}}')"
									id={{jobs.job}}>History</button></td>
							<td><button type="button" class="btn btn-primary"
									id={{jobs.job}}>Start</button></td>
						</tr>
						{% endfor %} {% endif %}

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col col-xs-6"></div>
	<div class="col col-xs-4">
		<a href="#"> <span class="glyphicon glyphicon-menu-left"></span></a> <a
			href="#"> <span class="glyphicon glyphicon-menu-right"></span>
		</a>
	</div>

</div>
{% endblock %}
